.main-navigation {
    background: #1d1d1d;
    clear: both;
    display: block;
    position: relative;
    width: 100%;
    z-index: 3;
    text-align: center;
}

.main-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-navigation li {
    display: inline-block;
}

.main-navigation a {
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.main-navigation a:hover {
    background-color: #333;
}
